################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebInfovitel/copilot-chat/ead22b7c/sessions
